.movie-container {
    display: flex;
}

.movie-item {
    padding: 20px;
    width: 300px;
    text-align: center;
}

.movie-item img {
    width: 200px;
}

.movie-container>div {
    overflow-x: initial !important;
}

.react-swipeable-view-container{
    width: 500px !important;
}

.react-swipeable-view-container>div{
    width: 500px !important;
}